.something-semantic {
  display: table;
  width: 100%;
}
.something-else-semantic {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

p:fist-of-type {
	color: red;
}

.clearfix:after {
	content:'.';
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

